.twitter-header{
  height: 400px;
  width: 100%;
  padding: 0 1.5em;
  background-color: #78d871;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  background-size: auto;
  background-repeat: repeat;
}

.avatar-name {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width:100%;
}

.avatar-name .your-name {
  color:#FFFFFF;
}


/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Header takes up full width and adjusts to tablet screen */
  .twitter-header {
    position: relative;
    top: 0;
    padding: 1em;
    height: 400px;
  }

  header .nav-title {
    font-family: "Bungee", sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #FFFFFF;
  }
  
  header .button-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
    font-size: 24px;
  }
  
  header .button-text span {
    margin-bottom: 10px;
    font-family: "Source Sans 3", sans-serif;
  }
  
  header .button-text i.fa-solid.fa-angles-down {
    color: red;
  }

  .avatar-name .avatar-picture img {
    width: 220px;
    height: 220px;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  .twitter-header {
    width: 30.3%;
    position: fixed;
    top: 240px;
    left: 70px;
    padding: 20px;
  }

  .avatar-name {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .avatar-name .avatar-picture {
    margin-bottom: 20px;
  }

  header .nav-title {
    display: none;
  }
  header div.button-text{
    display: none;
  }

}