nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-title {
  font-family: "Bungee", sans-serif;
  font-size: 36px;
  font-weight: 600;
}

nav .button-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  font-size: 24px;
}

nav .button-text span {
  margin-bottom: 10px;
  font-family: "Source Sans 3", sans-serif;
}

nav .button-text i.fa-solid.fa-angles-down {
  color: red;
}

nav .toggle-tweet-form {
  cursor: pointer;
}

nav .toggle-tweet-form:hover {
  text-decoration: underline;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    display: none;
  }
  body {
    padding: 0px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  nav {
    flex-direction: row; /* Align horizontally */
    height: 120px;
  }
  .avatar-name .avatar-picture {
    padding-top: 10px;
  }
}