.tweet-form {
  display: flex;
  flex-direction: column;
}

.tweet-form textarea {
  resize: none;
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 16px;
}

.tweet-label {
  display: none;
}

.tweet-form div.container-submit {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

.tweet-form button[type="submit"] {
  cursor: pointer;
  border: 0;
  background-color: #4056A1;
  color: white;
  font-family: "Bungee", sans-serif;
  text-transform: uppercase;
  padding: 8px; 
}

.tweet-form div.container-submit .over-limit {
  color: red;
}

.tweet-form .error-container {
  margin-top: 10px;
  color: red;
}

.error-message {
  color: red;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}
