.tweet-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.tweet-header .username {
  margin-right: 10px;
  margin-left: 10px;
}

.tweet-header .userhandle {
  margin-left: auto;
  padding: 10px;
}

.tweet {
  border: 4px solid;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.tweet:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tweet hr {
  border-top: 3px solid #555;
}

.tweet footer {
  font-size: 16px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet footer .clickable-icon {
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.tweet .fa-solid:hover {
  color: rgb(46, 46, 216);
}

.tweet footer .fa-solid {
  margin: 0 5px;
}

.tweet footer h5 {
  margin: 0;
  font-size: 16px;
  color: #555;
}